# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/*
__astcache/*
__history/*
__recovery/*
Win32/*
*.stat
ASWBe/*
CopyCommand.cbproj
CopyCommand.cbproj.local
CopyCommand.res
GS Projects.groupproj
GS Projects.groupproj.local
main.cpp
Marinelli.xlsx
Siljish.cbproj
Siljish.cbproj.local
Siljish.cpp
Siljish.res
SiljishPCH.h
/FSA/fsa/Release
/FSA/Release
/FSA/.vs/FullSpectrumAnalysis
/FSA/.vs
